{% extends 'layout.html.twig' %}

{% block content %}

    <h1>Matches</h1>
    <ul id="matches">
        {% for match in matches %}
            <li>
                <a href="{{ path('tinder_user', {id: match._id}) }}">{{ match.name }} ({{ match.birth_date|age }})</a><br />
            </li>
        {% endfor %}
    </ul>

{% endblock %}