{% extends 'layout.html.twig' %}

{% block content %}

    <h1>Matches</h1>
    <ul id="matches">
        {% for user in users %}
            <li>
                <a href="{{ path('tinder_user', {id: user._id}) }}">{{ user.name }} ({{ user.birth_date|age }})</a><br />
            </li>
        {% endfor %}
    </ul>

{% endblock %}