{% extends 'layout.html.twig' %}

{% block content %}
    Get ready to copy your token from the popup url.

    Then paste it there

    <form action="{{ path('facebook_login_callback') }}">
        <input type="text" name="facebook_user_token">
        <input type="submit" />
    </form>

    <script>
        var oauth = window.open("{{ oauth|raw }}", 'oauth');


        /*var req = new XMLHttpRequest();
        req.open('GET', "https://www.facebook.com/dialog/oauth?client_id=464891386855067&redirect_uri=https://www.facebook.com/connect/login_success.html&scope=basic_info,email,public_profile,user_about_me,user_activities,user_birthday,user_education_history,user_friends,user_interests,user_likes,user_location,user_photos,user_relationship_details&response_type=token", false);
        req.send();
        var responseURL = req.responseURL;
        var token = (responseURL.match(/access_token=([a-z]|[0-9])*!/gi))[0];
        token = token.slice(13, token.length);
        console.log(token);*/


    </script>

{% endblock %}