{% extends 'layout.html.twig' %}

{% block content %}
    {% if facebook_token is defined and facebook_token != false %}
        {{ facebook_token }}
    {% else %}
        <a href="{{ path('facebook_login') }}">Login to Facebook</a>
    {% endif %}
{% endblock %}